DQE KB AI Platform Requirements
2025/03/11
1. 從資料庫取得某一事件：(仍以檢索為主)
   1.1. 發生過幾次。
   1.2. 有哪些解決的方法。
   		1.2.1. 可以把找出來所有的每筆資料的解決方法做整理，條列出來
   		1.2.2. 可以把關聯度高低用顏色表示(option)
   		1.2.3. 較發散的問題可能有多個回答，使用LLM進行整理統合回答。
   		1.2.4. 檢索模式：精準檢索、簡易檢索回答(問句短、回答短)、關鍵字搜尋(有tag)、
   		       創意生成(point-2)

2. 資料生成：
   2.1. 從既有資料
   2.2. 連接外部的搜尋引擎、論壇找尋資料。

3. 了解DQE5個refine過的問題的結構，並生成新問題

4. 從28個問題生成10個問題(可以由LLM發散,一樣讓使用者問問題，找不到回「未找到相關答案」)。

============================================================================================
袁總意見
1.Lesson Learn经验库-
	1.1 以前通过JIRA的方式是，LL case完成后，增加关键字信息-label，如DFM，Camera Module等，在新项目开发评估的时候，设计人员或质量通过输入关键字检索出相关的LL case；
	1.2 AI的模型可以同步具有关键字检索，比如camera module的LL有哪些，也可以基于具体问题生成具体的回答；

2.由质量标准生成设计要求：
  比如ESD空气放电+/-8kv，对应哪些设计要求或设计建议；比如模板跌落1m，对应哪些设计要求或建议...

由设计要求生成测试用例去确认设计是否达到预期，需要更庞大的理论及数据量，当前先不评估！

//////////////////////////////////////////////////////////////////////////////////////////////////////////
